# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
# Environment and Security
*.local
*.pem
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
.github
