<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="/var/log/procurementsuite/gateway/internal-gateway-nlog.txt">

  <extensions>
    <add Assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" 
            name="logfile" 
            fileName="/var/log/procurementsuite/gateway/${shortdate}_gateway.log" 
            createDirs="true"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="Console" 
            name="logconsole"
            layout="${longdate}|${level}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>